
@import url('https://fonts.googleapis.com/css?family=Roboto');

/* Color */

:root {
	--earthborn-bugle: #F7F7F7;
	--dark-cyan-blue: #373D48;	
	--medium-light-cyan-blue: #7DC8F8;
	--very-light-gray: #F1F1F1;
}

/* */

* {
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	font-size: 17px;
	font-weight: 300;
	letter-spacing: 1px;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

body {
	background-color: var(--earthborn-bugle);
	color: #373D48;
	overflow-x: hidden;
}

/* Navigation				 ################################################## */

nav {
	background-color: var(--dark-cyan-blue);
	box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
	height: 80px;
	position: fixed;
	width: 100%;	
	z-index: 10;
}

.nav-container {
	display: flex;
	height: 100%;
	margin: auto;
	max-width: 1150px;
}

/* Styling logo */

.logo {
	padding: 15px;
	text-align: center;
} 

.logo img {
	height: 50px;
	width: 50px;
}

/* Styling links */

.nav-links {
	align-items: center;
	display: flex;
	justify-content: space-evenly;
	list-style: none;
	margin-left: 15%;
	width: 100%;
}

.nav-links li {
	position: relative;
}

.nav-links li a {
	color: var(--earthborn-bugle);
	margin: 0 20px;
	text-decoration: none;
}

.nav-links li a::before {
	background-color: var(--earthborn-bugle);
	content: "";
	display: block;
	height: 3px;
	margin: 30px 0 0 5%;
	position: absolute;
	transition: all ease-in-out 250ms;
	width: 0%;
}

.nav-links li a:hover::before {
	width: 90%;
}

/*Styling hamburger icon*/

.hamburger div {
	background: var(--earthborn-bugle);
	height:3px;
	margin: 5px;
	transition: all 0.3s ease;
	width: 30px;	
}

.hamburger {
	display: none;
}

/* Stying for small screens */

@media screen and (max-width: 800px) {

	nav {
		position: fixed;
		z-index: 3;
	}

	.hamburger {
		cursor: pointer;
		display: block;
		position: absolute;
		right: 5%;
		top: 50%;
		transform: translate(-5%, -50%);
		transition: all 0.7s ease;
		z-index: 2;
	}

	.nav-links {
		background: var(--dark-cyan-blue);
		clip-path: circle(50px at 90% -20%);
		flex-direction: column;
		height: 100vh;
		margin-left: 0;
		pointer-events: none;
		position: fixed;
		transition: all 0.4s ease-out;
		width: 100%;
		-webkit-clip-path: circle(50px at 90% -10%);
	}

	.nav-links.open {
		clip-path: circle(1000px at 90% -10%);
		pointer-events: all;
		-webkit-clip-path: circle(1500px at 90% -10%);
	}

	.nav-links li {
		opacity: 0;
	}

	.nav-links li:nth-child(1) {
		transition: all 0.4s ease 0.2s;
	}

	.nav-links li:nth-child(2) {
		transition: all 0.4s ease 0.3s;
	}

	.nav-links li:nth-child(3) {
		transition: all 0.4s ease 0.4s;
	}

	.nav-links li:nth-child(4) {
		transition: all 0.4s ease 0.5s;
	}

	li.fade {
		opacity: 1;
	}

}

/* Animating hamburger icon on click */

.toggle .line1 {
	transform: rotate(-45deg) translate(-5px,6px);
}

.toggle .line2 {
	transition: all 0.4s ease;
	width: 0;
}

.toggle .line3 {
	transform: rotate(45deg) translate(-5px,-6px);
}

/* Home						################################################## */

.home {
	padding: 80px 15px 50px 15px;
}

.home-container {
	display: flex;
	margin: 0 auto;
	max-width: 1150px;
}

/* Styling left side */

.home-left {
	align-self: center;
	display: flex;
	margin-top: 50px;
	padding: 10px;
	width: 50%;
}

.home-left-center {
	width: 100%;
}

/* Styling profile */

.profile {
	background-color: var(--medium-light-cyan-blue);
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
	border-radius: 20px;
	padding: 30px;
	text-align: center;
}

.logo-name {
	border-bottom: 1px solid var(--dark-cyan-blue);
	padding-bottom: 20px;
}

.logo-name img {
	width: 200px;
}

.name {
	font-size: 24px;
	font-weight: 600;
	margin-top: 40px;
}

.bio {
	margin-top: 15px;
}

.location {
	padding-top: 30px;
	text-align: center;
}

.number {
	padding-top: 20px;
	text-align: center;
}

/* Styling contact section */

.contact {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-top: 20px;
}

.fab-container {
	align-items: center;
	border-radius:7px;
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
	color: var(--earthborn-bugle);
	display: flex;
	font-size: 30px;
	height: 70px;
	justify-content: center;
	margin: 10px 10px 10px 10px;
	transition-duration: 0.2s;
	width: 70px;
}

.fab-container:hover {
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	transform: scale(1.1);
	transition-duration: 0.2s;
}

.facebook {
	background-color: #3B5998;
}

.github {
	background-color: #211F1F;
}

.linkedin {
	background-color: #007BB5;;
}

.email {
	background-color: #F28123;
}

/* Right */

.home-right {
	margin: 50px 0 0 10%;
	width: 50%;
}

.home-right img {
	width: 100%;
}

/* Styling for small screens */

@media screen and (max-width: 800px) {

	.home-container {
		flex-direction: column;
		margin: auto;
	}

	.home-left {
		margin: auto;
		margin-top: 50px;
		width: 100%;
	}

	.home-left-center {
		text-align: center;
		width: 100%;
	}

	.home-right {
		margin: auto;
		margin-top: 50px;
		width: 90%;
	}

}

@media screen and (max-width: 330px) {

	.logo-name img {
		width: 100%;
	}

}

/* Styling reusable elements */

.education, 
.affiliation, 
.tech-stack, 
.project,
.mini-project {
	padding: 0 15px 50px 15px;
}

#education, 
#tech-stack, 
#project {
	scroll-margin-top: 80px;
}

.title, 
.tech-stack-title, 
.project-title {
	font-size: 32px;
	font-weight: 900;
	letter-spacing: 2px;
	padding: 50px 0 50px 0;
	text-align: center;
}

/* Education				################################################## */

.education {
	background-color: var(--very-light-gray);
}

.timeline {
	margin: auto;
	max-width: 1150px;
	position: relative;
}

.timeline::after {
	background-color: #565F71;
	bottom: 0;
	content: '';
	left: 50%;
	margin-left: -1px;
	position: absolute;
	top: 0;
	width: 3px;
}

.container {
	background-color: inherit;
	padding: 10px 40px;
	position: relative;
	width: 50%;
}

.container::after {
	background-color: #373D48;
	border-radius: 50%;
	content: '';
	height: 20px;
	position: absolute;
	right: -11px;
	top: 22px;
	width: 20px;
	z-index: 1;
}

.left {
	left: 0;
}

.right {
	left: 50%;
}

.left::before {
	border: medium solid #FBFBFB;
	border-color: transparent transparent transparent #FBFBFB;
	border-width: 10px 0 10px 10px;
	content: " ";
	height: 0;
	position: absolute;
	right: 30px;
	top: 22px;
	width: 0;
	z-index: 1;
}

.right::before {
	border: medium solid #FBFBFB;
	border-color: transparent #FBFBFB transparent transparent;
	border-width: 10px 10px 10px 0;
	content: " ";
	height: 0;
	left: 30px;
	position: absolute;
	top: 22px;
	width: 0;
	z-index: 1;
}

.right::after {
	left: -10px;
}

.content {
	background-color: #FBFBFB;
	border-radius: 8px;
	box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.5);
	padding: 25px 25px;
	position: relative;
}

.content b {
	font-size: 18px;
	font-weight: 600;
	letter-spacing: 1.5px;
}

.content p {
	margin-top: 14px
}

@media screen and (max-width: 650px) {

	.timeline::after {
		left: 30px;
	}

	.container {
		padding-left: 70px;
		padding-right: 20px;
		width: 100%;
	}

	.container::before {
		border: medium solid #FBFBFB;
		border-color: transparent #FBFBFB transparent transparent;
		border-width: 10px 10px 10px 0;
		left: 60px;
	}

	.left::after, .right::after {
		left: 20px;
	}

	.right {
		left: 0%;
	}

}

/* Styling reusable elements */

.semi-title {
	font-size: 26px;
	font-weight: 900;
	letter-spacing: 1.8px;
	padding: 50px 0 40px 0;
	text-align: center;
}

/* Styling reusable cards */

.cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	list-style: none;
	margin: 0;
	padding: 0;
}

.cards-item {
	display: flex;
	padding: 10px;
}

.card {
	display: flex;
	overflow: hidden;
	width: 100%;
}

.card-content {
	background-color: transparent;
	display: flex;
	flex-direction: column;
	padding: 25px;
	width: 100%;
}

.card-title-date {
	font-size: 18px;
	font-weight: 600;
	letter-spacing: 1.5px;
	margin-bottom: 7px;
}

.card-date {
	font-size: 14px;
	margin-bottom: 14px;
}

.card-text {
	margin-top: 14px;
}

/* Training					################################################## */

.training-seminar {
	display: flex;
	margin: 0 auto;
	padding: 0px 15px 50px 15px;
	max-width: 1450px;
}

.training, .seminar {
	width: 50%;
}

.c-i-training, .c-i-seminar {
	width: 50%;
}

.c-training, .c-seminar {
	border-radius: 8px;
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
	flex-direction: column;
}

.c-training {
	background-color: #C2BBF0;
}

.c-seminar {
	background-color: #F4E285;
}

@media (max-width: 900px) {

	.c-i-training, .c-i-seminar {
		width: 100%;
	}

}

@media (max-width: 600px) {

	.training-seminar {
		display: block;
	}

	.training, .seminar {
		width: 100%;
	}
	
}

/* Affiliation					################################################## */

.affiliation {
	background-color: var(--very-light-gray);
}

.affiliation-container {
	margin: auto;
	max-width: 1000px;
}

.c-i-affiliation {
	width: 50%;
}

.c-affiliation {
	background-color: var(--earthborn-bugle);
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
	color: #373D48;
	flex-direction: row;
	text-decoration: none;
	transition-duration: 0.4s;
}

.c-affiliation:hover {
	background-color: #FBFBFB;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
	transform: scale(1.04);
	transition-duration: 0.4s;
}

.i-affiliation {
	align-items: center;
	background-color: transparent;
	display: flex;
	padding: 15px;
	width: 200px;
}

.i-affiliation img {
	width: 100%;
}

@media (max-width: 800px) {

	.c-i-affiliation {
		width: 100%;
	}

}

/* Tech Stack					################################################## */

.tech-stack-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: auto;
	max-width: 600px;
}

.icon {	
	margin: 15px 10px 5px 10px;
}

.icon i {
	font-size: 70px;
}

/* Project					################################################## */

.project {
	background-color: var(--dark-cyan-blue);
	color: var(--earthborn-bugle);
}

.project-container {
	margin: auto;
	max-width: 1250px;
}

.cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	list-style: none;
	margin: 0;
	padding: 0;
}

.c-i-project {
	width: 33.3333%;
}

.c-project {
	background-color: #477890;
	border-radius: 20px;
	box-shadow: 0 3px 20px rgba(0, 0, 0, 0.1);
	flex-direction: column;
	transition-duration: 0.4s;
}

.c-project:hover {
	box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
	transform: scale(1.04);
	transition-duration: 0.4s;
}

.card_image img {
	max-width: 100%;
	vertical-align: middle;
}

.c-c-project {
	flex: auto;
	justify-content: space-between;
}

.c-c-project a {
	text-decoration: none;
}

.card-title {
	font-size: 18px;
	font-weight: 600;
	letter-spacing: 1.5px;
	margin-bottom: 25px;
}

.card-content .btn {
	background: transparent;
	border-radius: 8px;
	border: 1px solid var(--very-light-gray);
	display: block;
	color: var(--earthborn-bugle);
	cursor: pointer;
	margin-top: 25px;
	padding: 12px;
	transition-duration: 0.3s;
	width: 100%;
}

.card-content .btn:hover {
	background-color: var(--earthborn-bugle);
	color: #477890;
	transition-duration: 0.3s;
}

.coming-soon {
	font-size: 15px;
	margin-top: 30px;
	text-align: center;
}

/* Styling for small screen */

@media (max-width: 900px) {
	
	.c-i-project {
		width: 50%;
	}

}

@media (max-width: 600px) {

	.c-i-project {
		width: 100%;
	}

}

/* Mini Project					################################################## */

.mini-project {
	margin: auto;
	max-width: 1150px;
}

.c-i-mini-project {
	width: 25%;
}

.c-mini-project {
	background-color: #AED6C2;
	border-radius: 8px;
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
	color: #373D48;
	flex-direction: column;
	text-decoration: none;
	transition-duration: 0.4s;
}

.other-program {
	background-color: #7DC8F8;
}

.c-mini-project:hover {
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	cursor: pointer;
	transform: scale(1.05);
	transition-duration: 0.4s;
}

.mini-project-coming-soon {
	font-size: 15px;
	margin-top: 30px;
	text-align: center;
}

@media (max-width: 900px) {
	
	.c-i-mini-project {
		width: 33.3333%;
	}

}

@media (max-width: 750px) {

	.c-i-mini-project {
		width: 50%;
	}

}

@media (max-width: 600px) {

	.c-i-mini-project {
		width: 100%;
	}

}

/* Footer						################################################## */

footer {
	align-items: center;
	background-color: var(--dark-cyan-blue);
	color: var(--earthborn-bugle);
	display: flex;
	height: 70px;
	justify-content: center;
	margin: auto;
	width: 100%;
}

footer a {
	color: var(--earthborn-bugle);
	text-decoration: none;
}
