.projects-div {
    margin-left: 24px;
}

.project-company {
    font-weight: 600;
}

.project-position {
    font-style: italic;
}

.technologies-div {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 8px;
}
