@import url('Style.css');

.home-div {
    height: 100vh;
    background-color: var(--base-dark-color);
    position: relative;
}

.home-absolute{
    height: calc(100vh - 65px);
    width: 100%;
    position: absolute;
}
