@import url('Style.css');

body {
  margin: 0;
  font-family: 'Roboto', 'Segoe UI', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--base-light-color);
  color: var(--base-dark-color);
}

* {
  font-family: 'Roboto', 'Segoe UI', sans-serif;
  font-weight: 400;
	letter-spacing: 1px;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}
